#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input {
    margin: 0;
    display: inline;
}

#google-cse-results-searchbox-form .form-radios div {
    display: block;
}


/* Search Results */

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: 18px !important;
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result {
  font-size: 16px !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.gs-result .gs-title a {
  border-bottom: 2px solid transparent !important;
}

.gs-result .gs-title a:hover, .gs-result .gs-title a:focus {
  border-bottom: 2px solid #262729 !important;
}


/* Colors */
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #002D5B !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
    color: #002D5B !important;
    font-weight: 800;
}

.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #0054A6 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: #002D5B !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    font-weight: 800 !important;
}

.gsc-result .gs-title {
    height: 1.5em !important;
}

span.gs-fileFormat {
    color: #595959 !important;
    font-size: 1em !important;
}

span.gs-fileFormatType {
    font-size: 1em !important;
}
